{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container">

	<div class="row">
	  <div class="col-sm-12">
	
	    <h2>Person</h2>
	    {% if object.name %}
	      <p>{{ object.name }}</p>
	      <br>
	      <p>{{ object.surname }}</p>
	    {% endif %}
	  </div>
	</div>
	
	<!-- Action buttons -->
	<div class="row">
	  <div class="col-sm-12 ">
	    <a class="btn btn-primary" href="{{ object.get_update_url }}">Update</a>
	  </div>	
	</div>

</div>
{% endblock content %}

